*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.one{
    background-color: #1f2937;
    margin: 0;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    /* margin: 0 100px; */
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    display: flex;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    gap: 12px;
    margin-left: auto;
}

.one-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 48px 0;
}

.one-main{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.one-second, .one-right{
    color: #e5e7eb;
    font-size: 18px;
}

.one-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.one-right{
    display: flex;
    align-items:  center;
    text-align: center;
    background-color: #909090;
    padding: 24px;
}

button{
    background-color: #3882f6;
    color: white;
    align-self: flex-start;
    padding: 9px 18px;
    border-radius: 6px;
    font-weight: bold;
}